// Colors
:root {
    --bg-color:#C8C8C8;
    --primary-color:#275a77;
    --complimentry-color: #c0c0c0;
    --contrast-color:#ff6700;
    --text-color:#FFFFFF;
}
$bg: var(--bg-color);
$primary: var(--primary-color);
$complimentry: var(--complimentry-color);
$contrast: var(--contrast-color);
$text: var(--text-color);

//Font Family
$font-family: auto;

//Font Sizes
$large-font: calc(.8rem + 1vw);
$medium-font: calc(.7rem + .9vw);
$small-font: calc(.6rem + .7vw);


$mobile_width: 750px;
$desktop_width: calc($mobile_width + 1px);



body {
    margin: 0;
    background-color: $bg;
}


.on_view_animate {
    opacity: 0;
    animation: on-view-animation .5s linear forwards;


    @keyframes on-view-animation {
        from {
            opacity: 0;
            transform: scale(.8);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

}
.off_view_animate {
    opacity: 0;
    animation: off-view-animation .5s linear forwards;


    @keyframes off-view-animation {
        from {
            opacity: 1;
            transform: scale(1);
        }
        to {
            opacity: 0;
            transform: scale(.8);
        }
    }

}


@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid-center() {
    display: grid;
    justify-items: center;
    align-items: center;
}

@mixin button($bg-color, $text-color) {
    font-size: 2rem;
    font-weight: bold;
    border-radius: .55rem;
    padding: 12px 20px;
    color: $text-color;
    background-color: $bg-color;
    border: none;
    cursor: pointer;
    transition-duration: .3s;

    &:hover {
        transform: scale(.95);
        color: $bg-color;
        background-color: $text-color;
    }
}


@mixin font($size, $weight) {
    font: {
        size: calc($size);
        family: $font-family;
        weight: $weight;
    }
}


