@import 'base'; 


/* Tells the window what to show when calling window.print() */
@media print {
    @page { size: A4; margin: 0;}
    body { width: 210mm; }

    #resume {
        position: fixed;
        min-width: 100%;
        max-height: 99vh;
    }

    @media (max-device-width: $mobile_width) {
        #resume {
            max-width: 75vw;
        }
    }

    
    .intro_section {display: none;}
    .skills_section {display: none;}
    .projects_section {display: none;}
}


/* Tells the window what to show normally */
@media screen {
    #resume {display: none;}

    /* On All Device Widths */
    @media (min-width: 0) {
        .skills_section {
            @include flex-center;
            width: 75%;
            height: 100vh;
            margin: 15vh auto;
            scroll-margin-top: 50px;
            
            img {
                position: absolute;
                position: absolute;
                width: calc(30px + 3vw);
                border-radius: 50%;
                padding: 5px;
                transition-duration: .2s;
                cursor: pointer;

                &:hover {
                    background-color: $text;
                    box-shadow: 0 0 3px 3px $primary;
                } 
           
                $distance: calc(100px + 12vw);
                $corner-distance: calc(70px + 10vw);

                // Top
                &:nth-child(2) {
                    -webkit-transform: translate(0, calc(-1 * $distance));
                    transform: translate(0, calc(-1 * $distance));
                }
                // Top Right
                &:nth-child(3) {
                    -webkit-transform: translate($corner-distance, calc(-1 * $corner-distance));
                    transform: translate($corner-distance, calc(-1 * $corner-distance));
                }
                // Right
                &:nth-child(4) {
                    -webkit-transform: translate($distance, 0);
                    transform: translate($distance, 0);
                }
                // Bottom Right
                &:nth-child(5) {
                    -webkit-transform: translate($corner-distance, $corner-distance);
                    transform: translate($corner-distance, $corner-distance);
                }
                // Bottom
                &:nth-child(6) {
                    -webkit-transform: translate(0, $distance);
                    transform: translate(0, $distance);
                }
                // Bottom Left
                &:nth-child(7) {
                    -webkit-transform: translate(calc(-1 * $corner-distance), $corner-distance);
                    transform: translate(calc(-1 * $corner-distance), $corner-distance);
                }
                // Left
                &:nth-child(8) {
                    -webkit-transform: translate(calc(-1 * $distance), 0);
                    transform: translate(calc(-1 * $distance), 0);
                }
                // Top left
                &:nth-child(9) {
                    -webkit-transform: translate(calc(-1 * $corner-distance), calc(-1 * $corner-distance));
                    transform: translate(calc(-1 * $corner-distance), calc(-1 * $corner-distance));
                }

            }
        }
    }

    /* Mobile */
    @media (max-width: $mobile_width) {
        .intro_section {
            @include flex-center;
            flex-direction: column;
            width: 80%;
            height: 80vh;
            max-width: 350px;
            margin: 0 auto;
            border-radius: .5rem;
            scroll-margin-top: 40px;
        
            .intro_img_desktop {display: none}

            .intro_img_mobile {
                width: calc(130px + 18vw);
                height: calc(130px + 18vw);
                border-radius: 100%;
                margin: 5vh;
                box-shadow: 7px 7px 10px $primary;
                transition-duration: .2s;

                &:hover {
                    box-shadow: none;
                    transform: scale(.98);
                }
            }
            .text_side {
                @include flex-center;
                flex-direction: column;
                width: 90%;

                .desktop_about_text {display: none;}
                .mobile_about_text {
                    @include font(calc($small-font + 4px), light);
                    text-align: center;
                    color: $primary;
                    padding: 10px 0;
                    border: 1px solid $text;
                    border-left:none;
                    border-right: none;
                }

                button {
                    @include button($text, $primary);
                    font-size: calc($medium-font + 2px);
                    padding: 12px 20px;
                    margin: 5vh;

                    &:hover {
                        background-color: $contrast;
                        color: $text;
                    }
                }
            }
        }
        .skills_section {
            .selected_item_text_container {
                @include flex-center;
                flex-direction: column;
                width: calc(95px + 23vw);
                height: calc(95px + 23vw);
                text-align: center;
                color: $primary;
                border: 3px solid $primary;
                border-radius: 50%;
                padding: 15px;

                .selected_item_heading {
                    @include font(calc($medium-font + 8px), bold);
                    margin: 5px;
                }
                
                .selected_item_text {
                    @include font(calc($small-font + 4px), light); 
                    margin: 10px;
                }
            }
        }

        .projects_section {
            $height: 35vh;

            display: grid;
            justify-items: center;
            align-items: center;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            height: $height;
            min-height: 220px;
            margin: 30vh auto;
            overflow-x: auto;
            overflow-y: hidden;
            padding: 25px;

            .floating_arrow {
                display: none;
                @include flex-center;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 20px;
                margin: auto;
                height: 3rem;
                font-size: 3rem;
                color: white;
                padding: 5px;
                border-radius: .5rem;
                z-index: 2;
                cursor: pointer;
                transition-duration: .2s;

                animation: {
                    duration: .6s;
                    timing-function: linear;
                    iteration-count: 3;
                }

                @keyframes floating-arrow {
                    from {
                        transform: translate(20px);
                    }
                    50% {
                        transform: translate(5px);
                    }
                    to {
                        transform: translate(20px);
                    }
                }
            }

            .project_container {
                $width: 270px;

                @include flex-center;
                flex-direction: column;
                width: $width;
                height: $height;
                margin: 0 20px;
                background-color: $primary;
                border-radius: .5rem;
                border: none;

                .project_title {
                    @include font(calc($large-font + 7px), bold);
                    color: $text;
                }

                .project_icon {
                    font-size: 4rem;
                    color: $text;
                }

                .project_details {
                    justify-self: flex-end;
                    position: absolute;
                    @include flex-center;
                    flex-direction: column;
                    border-radius: .5rem;
                    background-color: $text;
                    color: $primary;
                    opacity: 0;
                    width: 0;
                    height: 0;
                    overflow-y: hidden;
                    z-index: 1;

                    animation: {
                        duration: .4s;
                        timing-function: linear;
                        iteration-count: 1;
                        fill-mode: forwards;
                    }
        
                    @keyframes cover-container {
                        from {
                            opacity: 0;
                            width: 0;
                            height: 0;
                        }
                        40% {
                            opacity: 0;
                        }
                        to {
                            opacity: 1;
                            width: $width;
                            height: $height;
                        }
                    }
                    @keyframes uncover-container {
                        from {
                            opacity: 1;
                            width: $width;
                            height: $height;
                        }
                        40% {

                        }
                        to {
                            opacity: 0;
                            width: 0;
                            height: 0;
                        }
                    }

                    .project_home_icon_link {
                        margin: 0;
                        font-size: 2rem;
                        color: $primary;
                        transition-duration: .2s;

                        &:hover {
                            color: $contrast;
                        }
                    }

                    .project_description {
                        @include font($medium-font, bold);
                        width: 90%;
                        text-align: center;
                    }
                }
            }
        }
    }

    /* Desktop */
    @media (min-width: $desktop_width) {
        .intro_section {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 65%;
            height: 70vh;
            margin: 3vw auto;
            margin-top: 5vw;
            color: $primary;
            scroll-margin-top: 200px;

            .intro_img_mobile {display: none}

            .intro_img_desktop {
                display: block;
                width: 25vw;
                max-width: 350px;
                box-shadow: 10px 10px 15px;
                transition-duration: .4s;

                &:hover {
                    box-shadow: none;
                    transform: scale(.98);
                }
            }
            .text_side {
                text-align: center;
                width: 60%;
                max-width: 500px;
                margin-left: 10%;
                align-self: center;	
            
                .mobile_about_text {display: none;}
                .desktop_about_text {
                    @include font($medium-font, light);
                    font-size: calc(.6rem + .8vw);
                    color: $primary;
                }
            
                button {
                    @include button($contrast, $text);
                    margin-top: 40px;
                }
            }
        }

        .skills_section {
            .selected_item_text_container {
                @include flex-center;
                flex-direction: column;
                width: calc(80px + 14vw);
                height: calc(80px + 14vw);
                text-align: center;
                color: $primary;
                border: 3px solid $primary;
                border-radius: 50%;
                padding: 10px;

                .selected_item_heading {
                    @include font(calc($medium-font + 3px), bold);
                    margin: 5px;
                }
                
                .selected_item_text {
                    @include font(calc($small-font - 2px), light); 
                    margin: 10px;
                }
            }
        }

        /* Larger Desktop Widths */
        .projects_section {
            $min-height: 300px;
            $height: 33vh;

            display: grid;
            justify-items: center;
            align-items: center;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 5%;
            height: $height;
            min-height: $min-height;
            width: 65%;
            margin: 33vh auto;
            padding: 15px;
            scroll-margin-top: 280px;

            .floating_arrow {display: none;}

            .project_container {
                $width: 18vw;

                @include flex-center;
                flex-direction: column;
                width: $width;
                min-height: $min-height;
                height: $height;
                margin: 0 20px;
                background-color: $primary;
                border-radius: .5rem;
                border: none;

                .project_title {
                    @include font(calc($large-font + 3px), bold);
                    color: $text;
                }

                .project_icon {
                    font-size: 4rem;
                    color: $text;
                }

                .project_details {
                    justify-self: flex-end;
                    position: absolute;
                    @include flex-center;
                    flex-direction: column;
                    border-radius: .5rem;
                    background-color: $text;
                    color: $primary;
                    opacity: 0;
                    width: 0;
                    height: 0;
                    overflow-y: hidden;
                    z-index: 1;

                    animation: {
                        duration: .4s;
                        timing-function: linear;
                        iteration-count: 1;
                        fill-mode: forwards;
                    }

                    @keyframes cover-container {
                        from {
                            opacity: 0;
                            width: 0;
                            height: 0;
                        }
                        40% {
                            opacity: 0;
                        }
                        to {
                            opacity: 1;
                            width: $width;
                            min-height: $min-height;
                            height: $height;
                        }
                    }
                    @keyframes uncover-container {
                        from {
                            opacity: 1;
                            width: $width;
                            min-height: $min-height;
                            height: $height;
                        }
                        40% {
                            opacity: 0;
                        }
                        to {
                        }
                    }
                    .project_description {
                        @include font($medium-font, bold);
                        width: 90%;
                        text-align: center;
                    }
                    .project_home_icon_link {
                        margin: 0;
                        font-size: 2.4rem;
                        color: $primary;
                        transition-duration: .1s;

                        &:hover {
                            color: $contrast;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        /* Smaller Desktop Widths */
        @media (max-width: 1400px) {
            .projects_section {
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 20px;
                margin-bottom: 50vh;

                .project_container {
                    $min-width: 260px;
                    $width: 24vw;
                    $min-height: 270px;
                    $height: 36vh;

                    min-width: $min-width;
                    width: $width;
                    min-height: $min-height;
                    height: $height;

                    @keyframes cover-container {
                        from {
                            opacity: 0;
                            height: 0;
                        }
                        40% {
                            opacity: 0;
                        }
                        to {
                            opacity: 1;
                            min-width: $min-width;
                            width: $width;
                            min-height: $min-height;
                            height: $height;
                        }
                    }
                    @keyframes uncover-container {
                        from {
                            opacity: 1;
                            min-width: $min-width;
                            width: $width;
                            min-height: $min-height;
                            height: $height;
                        }
                        40% {
                            opacity: 0;
                        }
                        to {
                        }
                    }
                
                }
            }
        }
    }
}
