@import 'base.scss';

/* All Screen Sizes */
@media (min-width: 0) {
    .skill_container_flipped {
        grid-template-columns: 2fr 1fr !important;
    }
    .skill_container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-items: center;
        align-items: center;
        width: 60%;
        margin: auto;
        margin-top: 200px;

        img {
            width: 60%;

        }
        .skill_explainer_container {
            width: 100%;
            color: $center-gradient;

            h1 {
                display: block;
                margin: 0 auto;
                width: 70%;
                text-align: center;
                @include font($medium-font, bold);
                border-bottom: 2px solid $center-gradient;
            }
            p { 
                text-align: center;
                @include font(calc($small-font - 5px), none);
                color: black;
            }
        }
    }
    .skill_container_double {
        grid-template-columns: 1fr 3fr 1fr;
        width: 90%;
    }
}

/* Desktop */
@media (min-width: $mobile-to-desktop-width) {
    .intro_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        position: relative;
        height: 70vh;
        width: 75%; 
        margin: auto;
        margin-top: 180px;
        border-radius: .5rem;
        background-image: $gradient-bg;
       
        .intro_image {
            width: 50%;
            height: auto;
            border-radius: .5rem;
            display: block;
            box-shadow: 8px 8px 10px;
            transition-duration: .4s;
         }
         .intro_image:hover {
            box-shadow: none;
            transform: scale(0.97);
         }

        .text_button_container {
            @include flex-center;
            align-items: space-evenly;
            flex-direction: column;

            .intro_text {
                width: 90%;
                text-align: center;
                font: {
                    size: $small-font;
                }
                color: $text-color;
            }

            .intro_button {
                @include button($text-color, $left-gradient);
            }

        }
    }
}

/* Mobile */
@media (max-width: $mobile-to-desktop-width) {
    .intro_container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        position: relative;
        height: 76vh;
        min-height: 470px;
        width: 85%;
        margin: auto;
        margin-top: 130px;
        border-radius: .5rem;
        background-image: $gradient-bg;

        .intro_image {
            width: 170px;
            height: auto;
            margin-top: 5%;
            border-radius: .5rem;
            display: block;
            box-shadow: 8px 8px 10px;
            transition-duration: .4s;
         }
         .intro_image:hover {
            box-shadow: none;
            transform: scale(0.97);
         }

         .text_button_container {
            @include flex-center;
            align-items: space-evenly;
            flex-direction: column;

            .intro_text {
                border-top: 2px solid $text-color;
                border-bottom: 2px solid $text-color;
                padding: 10px 0;
                width: 85%;
                text-align: center;
                font: {
                    size: calc($medium-font * .8);
                }
                color: $text-color;
            }

            .intro_button {
                @include button($text-color, $left-gradient);
            }
        }
    }
    .skill_container {
        width: 80%;
        margin-top: 75px;
        grid-gap: 40px;

        img {
            width: 80%;
        }

        .skill_explainer_container {
            width: 130%;
        }
    }
    .skill_container_double {
        grid-template-columns: 1fr 2fr 1fr;
        width: 100%;
    }
}

