@import 'base.scss'; 

body {
    overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: .5rem;
    
    &:hover {
      background: $contrast;
    }
}


@media print {
    .navbar_mobile {display: none;}
    .navbar_desktop {display: none;}

    #success_message {display: none;}
    #error_message {display: none;}
    .contact_form_background {display: none;}
    .contact_form {display: none;}
    .contact_bubble {display: none;}

    .footer {display: none;}
}

@media screen {
/* All Devices */
    @media (min-width: 0) {
        @mixin dialog-box($bg-color, $font-color) {
            display: none;
            position: fixed;
            left: 50%;
            top: 15%;
            transform: translate(-50%, -50%);
            background-color: $bg-color;
            color: $font-color;
            @include font($large-font, bold);
            padding: 10px 30px;
            width: 30%;
            text-align: center;
            border: 5px solid white;
            border-radius: .5rem;
        }
        #success_message {
            @include dialog-box(green, white);
        }
        #error_message {
            @include dialog-box(red, white);
        }
    }

    /* Mobile */
    @media (max-width: $mobile_width) {
        .navbar_desktop {display: none;}

        .footer {
            display: none;
        }

        .navbar_mobile {
            @include flex-center;
            position: fixed;
            height: 80px;
            width: 100vw;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            left: 0;
            bottom: 0;
            z-index: 40000;
            background-color: $primary;
            transition-duration: .5s;

            .navbar_external_links {
                position: absolute;
                top: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                height: 40px;
                margin: auto;
                margin-top: 10px;
                border: 2px solid $text;
                border-top: none;
                border-bottom: none;
                padding: 0 20px;
                z-index: 1;

                animation-duration: .3s;
                animation-timing-function: linear;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            
                .external_link {
                    display: block;
                    width: 30px;
                    height: 30px;
                    margin: 0 15px;
                    transition-duration: .01s;
                    border-radius: .5rem;
                    color: white;
                        
                    &:hover {
                        transform: scale(.97);
                        color: $contrast;
                    }
                }
            }

            .nav_items_container {
                position: absolute;

                top: 100%;
                transform: translateY(80%);

                @include flex-center;
                flex-direction: column;
                z-index: 1;

                animation-duration: .3s;
                animation-timing-function: linear;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                
                a {
                    @include font(calc($large-font + 3vw), bold);
                    color: white;
                    margin: 20px;
                }
            }
            @keyframes showText {
                from {
                    top: 100%;
                }
                to {
                    top: 0;
                }
            }
            @keyframes hideText {
                from {
                    top: 0;
                }
                to {
                    top: 100%;
                }
            }

            .navbar_open_icon {
                @include flex-center;
                position: absolute;
                bottom: 12px;
                border-radius: 50%;
                width: 45px;
                height: 45px;
                font-size: 2.4rem;
                z-index: 2;
                color: white;
                cursor: pointer;

                animation-duration: .3s;
                animation-timing-function: linear;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                
                &:hover {
                    color: $primary;
                    background-color: $text;
                }

                @keyframes upArrow {
                    from {
                        transform: rotate(180deg);
                    }
                    to {
                        transform: rotate(0deg);
                    }
                }
                @keyframes downArrow {
                    from {
                        transform: rotate(0deg);
                    }
                    to {
                        transform: rotate(180deg);
                    }
                }

            }

            #navbar_home_icon {display: none;}
        }

        .contact_bubble {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            bottom: 80px;
            right: 10px;
            width: 40px;
            height: 40px;
            padding: 10px;
            border-radius: 50%;
            z-index: 1000;
            color: var(--text-color);
            background-color: var(--primary-color);
            box-shadow: 0 0 3px 3px var(--text-color);
            cursor: pointer;
            transition-duration: .3s;
            animation-name: bouncing-contact-bubble;
            animation-duration: .5s; 
            animation-iteration-count: 3;
            animation-timing-function: linear;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 3px 3px $primary;
                color: $primary;
                background-color: $text;
            }
        
            .contact_icon {
                font-size: 1.6rem;
            }
        }
        .contact_form_background {
            display: none;
            position: fixed;
            width: 100%;
            height: 102vh;
            top: 0;
            left: 0;
            z-index: 50000;
            background-color: grey;
            opacity: 40%;
            cursor: pointer;
        }
        .contact_form {
            position: fixed;
            top: 50%;
            left: -50%;
            transform: translate(-50%, -50%);
            padding: 10px;
            min-width: 280px;
            width: 80%;
            max-width: 400px;
            z-index: 51000;
            background-color: $text;
            border-radius: .7rem;
            box-shadow: 0 0 15px 4px $primary; 
            transition-duration: .4s;

            .contact_heading {
                @include font(1.3rem, bold);
                color: $primary;
                text-align: center;
                display: block;
                margin: 2vh auto;
                width: 70%;
                border: 2px solid $primary;
                border-top: none;
                border-bottom: none;
            }
            .contact_info_container {
                @include flex-center;
                margin: 3vh 0 4vh 0;

                .tool_tip_text {
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    margin-top: -50px;
                    width: 150px;
                    text-align: center;
                    opacity: 0;
                    background-color: #555;
                    @include font(.7rem, bold);
                    color: #fff;
                    padding: 3px 5px;
                    transition-duration: .2s;
                }
                &:hover .tool_tip_text {
                    opacity: 1;
                }

                .contact_info_item {
                    @include flex-center;
                    @include font(.7rem, bold);
                    color: $primary;
                    text-align: center;
                    margin: 5px 10px;
                    padding: 0 10px;
                    border: 1px solid $primary;
                    border-radius: .5rem;
                    transition-duration: .2s;
                    cursor: pointer;

                    &:hover {
                        color: $contrast;
                        border-color: $contrast;
                    }

                    .contact_info_text {
                        padding-right: 10px;
                        margin: 5px 0;
                    }
                }
            }
            input {
                display: block;
                margin: 2vh auto;
                padding: 10px 20px;
                width: 70%;
                @include font(.8rem, light);
                color: $primary;
                border: none;
                outline: $contrast;
                border-radius: 1rem;
                box-shadow: 0 0 10px 2px;
                transition-duration: .2s;

                &:hover {
                   transform: scale(1.05);
                   color: $contrast;
                }
            }
            textarea {
                display: block;
                margin: 2vh auto 0 auto;
                padding: 10px 20px;
                @include font(.7rem, light);
                min-width: 70%;
                max-width: 80%;
                min-height: 80px;
                max-height: 150px;
                color: $primary;
                border: none;
                outline: $contrast;
                border-radius: 1rem;
                box-shadow: 0 0 10px 2px;
                transition-duration: .2s;

                &:hover {
                    transform: scale(1.02);
                    color: $contrast;
                }
            }
            .button_container {
                @include flex-center;
                justify-content: flex-end;
                padding: 20px;
                margin: auto;
                margin-left: -30px;
                width: 95%;

                button {
                    @include button($primary, $text);
                    @include font(1.1rem, bold);
                    padding: 5px 20px;

                    &:hover {
                        font-size: 1.2rem;
                        color: $contrast;
                        background-color: transparent;
                        box-shadow: 0 0 10px 2px;
                    }
                }
            }
        } 
    }

    /* Desktop */
    @media (min-width: $desktop_width) {
        .navbar_mobile {display: none;}

        .navbar_desktop {
            @include flex-center;
            position: fixed;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 20px;
            width: 70px;
            height: 40vh;
            z-index: 40000;

            .icons_container { 
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 10vh;
                justify-items: center;
                align-items: center;

                .icon_container {
                    @include flex-center;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: $primary;
                    color: $text;
                    font-size: 2rem;
                    z-index: 1;
                    transition-duration: .2s;
                    cursor: pointer;

                    &:hover {
                        background-color: $text !important;
                        color: $primary !important;
                        box-shadow: 0 0 3px 3px $primary !important;
                    }
                }
            }

            .distance_container {
                @include flex-center;
                align-items: flex-start;
                position: absolute;
                width: 7px;
                height: 100%;
                border: 3px solid white;
                z-index: 0;

                .distance_filler {
                    width: 100%;
                    background-color: $primary;
                }
            }


        }

        .contact_bubble {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 50px;
            height: 50px;
            padding: 10px;
            border-radius: 50%;
            z-index: 1000;
            color: $text;
            background-color: $primary;
            box-shadow: 0 0 3px 3px $text;
            cursor: pointer;
            transition-duration: .2s;
            
            .contact_icon {
                width: 40px;
                height: 40px;
            }
            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 3px 3px $primary;
                color: $primary;
                background-color: $text;
            }
        }
        .contact_form_background {
            display: none;
            position: fixed;
            width: 100%;
            height: 102vh;
            top: 0;
            left: 0;
            z-index: 20000;
            background-color: grey;
            opacity: .4;
            cursor: pointer;
        }
        .contact_form {
            position: fixed;
            top: 50%;
            left: -50%;
            transform: translate(-50%, -50%);
            min-width: 380px;
            width: 40%;
            max-width: 450px;
            z-index: 21000;
            background-color: $text;
            box-shadow: 0 0 10px 5px $primary;
            border-radius: .7rem;
            transition-duration: .4s;
        
            .contact_heading {
                @include font(calc($large_font + 2px), bold);
                color: $primary;
                text-align: center;
                display: block;
                margin: 2vh auto;
                width: 70%;
                border: 2px solid $primary;
                border-top: none;
                border-bottom: none;
            }
            .contact_info_container {
                @include flex-center;
                margin: 3vh 0 4vh 0;

                .tool_tip_text {
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    margin-top: -50px;
                    width: 150px;
                    text-align: center;
                    opacity: 0;
                    background-color: #555;
                    @include font(1rem, bold);
                    color: #fff;
                    padding: 3px 5px;
                    transition-duration: .2s;
                }
                &:hover .tool_tip_text {
                    opacity: 1;
                }

                .contact_info_item {
                    @include flex-center;
                    @include font(.9rem, bold);
                    color: $primary;
                    text-align: center;
                    margin: 5px 10px;
                    padding: 0 10px;
                    border: 1px solid $primary;
                    border-radius: .5rem;
                    transition-duration: .2s;
                    cursor: pointer;

                    &:hover {
                        color: $contrast;
                        border-color: $contrast;
                    }

                    .contact_info_text {
                        padding-right: 10px;
                        margin: 5px 0;
                    }
                }
            }
            input {
                display: block;
                margin: 3vh auto;
                padding: 10px 20px;
                width: 70%;
                @include font(1.1rem, light);
                color: $primary;
                border: none;
                outline: $contrast;
                border-radius: 1rem;
                box-shadow: 0 0 10px 2px;
                transition-duration: .2s;

                &:hover {
                   transform: scale(1.05);
                   color: $contrast;
                }
            }
            textarea {
                display: block;
                margin: 3vh auto 0 auto;
                padding: 10px 20px;
                @include font(.9rem, light);
                min-width: 70%;
                max-width: 80%;
                min-height: 80px;
                max-height: 200px;
                color: $primary;
                border: none;
                outline: $contrast;
                border-radius: 1rem;
                box-shadow: 0 0 10px 2px;
                transition-duration: .2s;

                &:hover {
                    transform: scale(1.02);
                    color: $contrast;
                }
            }
            .button_container {
                @include flex-center;
                justify-content: flex-end;
                padding: 20px;
                margin: auto;
                margin-left: -30px;
                width: 95%;

                button {
                    @include button($primary, $text);
                    @include font(1.4rem, bold);
                    padding: 5px 20px;

                    &:hover {
                        font-size: 1.5rem;
                        color: $contrast;
                        background-color: transparent;
                        box-shadow: 0 0 10px 2px;
                    }
                }
            }

        }

        .footer {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-x: hidden;
            width: 100vw;
            height: 200px;
            margin-top: 30vh;

            border-top-left-radius: 50%;
            border-top-right-radius: 50%;

            background-color: $primary;

            .footer_external_links {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                height: 45px;
                background-color: transparent;
                border: 2px solid $text;
                border-top:none;
                border-bottom:none;
                padding: 0 20px;
            
                .footer_link {
                    display: block;
                    width: 45px;
                    height: 45px;
                    margin: 0 25px;
                    transition-duration: .01s;
                    border-radius: .5rem;
                    color: white;
                        
                    &:hover {
                        transform: scale(.97);
                        color: $contrast;
                    }
                }
            }
        }
    }
}
