@import 'base';

/* All Screen Sizes */
@media (min-width: 0) {
    h1 {
        font-size: $large_font;
        margin-top: 400px;
        text-align: center;
        color: $secondary-color;
    }
}

/* Desktop */
@media (min-width: $mobile-to-desktop-width) {

}

/* Mobile */
@media (max-width: $mobile-to-desktop-width) {

}


